{% load static %}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>{{ page_dir | default:'Dashboard'}} - {{ website| default:'Website' }}</title>
<script src="https://unpkg.com/unpoly@1.0.0/dist/unpoly.min.js" integrity="sha384-ytJc9iP/TqsU3lNuDL7f9+s6s6okr3iD1TnXQBigaJIY9Ew3zACbVfa96VtkpMs+" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/unpoly@1.0.0/dist/unpoly.min.css" integrity="sha384-Au6LjS9fxDpwn3+26YmukmOumZUmryd8ONenkVIoH4eEPH1tACqLsVfqz9tBrvQy" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<link href="{% static 'base/css/styles.css' %}" rel="stylesheet" />